*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 3.5rem;
    text-align: center;
    padding-top: 30px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 200;
}

main{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h2 {
    padding-top: 1.3rem;
    text-align: center;
    color: rgb(26, 139, 26);
}
.flex { 
   display: flex;
}

label{
    font-size: 20px;
}
input:focus{
    border: 2px solid palegreen;
}
input:focus, textarea:focus, select:focus{
    outline: none;
}
input[name=userText]{
    width:60vw;
    height: 30px;
    margin: 8px;
    font-family: Arial, Helvetica, sans-serif;
    border-style: none;
    border-bottom: 2px solid palegreen;
    padding:5px;
    font-size: 1.05rem;
}

.innerInput > input{
    width: 25vw;
    margin: 8px;
    border-style: none;
    border-bottom: 2px solid palegreen;
    font-family:Arial, Helvetica, sans-serif;
    padding:5px;
}

form{
    flex-direction: column;
}

.mainbtn{
    width: 200px;
    height: 30px;
    justify-content: center;
    align-self: center;
    margin: 10px;
    background-color: palegreen;
    border: none;
    border-radius: 20px;
    font-family:Arial, Helvetica, sans-serif;
}

table{
    width: 60vw;
    text-align: left;
    margin-top: 30px;
    padding: 5px;
}
.padd {
   padding:10px;
}
tr > td{
    max-width: 50px;
    background-color: rgb(226, 229, 226);
    padding: 5px;
}

.displayNone {
   display: none;
}

button{
    width: 20px;
    height:20px;
    margin-left: 100px;
}

.color {
    background-color: greenyellow;
    border:1px solid green;
    color: black;
    font-weight: 900;
}